<template>
  <nav class="uk-navbar-container uk-navbar" uk-navbar="mode: click">
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li class="#"><a class="">{{currentPageHeader}}</a></li>
            <li><a href="#" ></a></li>
        </ul>
    </div>
     <div class="uk-navbar-right"  @mouseleave="isHideMenu = true">
        <ul class="uk-navbar-nav">
            <li>
                <a href="#" @mouseover="isHideMenu = false"> 
                  <img 
                  :src="profileLink" 
                  class="avatarImg"
                  >
                  {{user.email}}
                </a>
                <div class="uk-navbar-dropdown uk-open" v-if="!isHideMenu">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                      <li><a href="#" @click="toUsers">Пользователи</a></li>
                        <li ><a href="#" @click="toProfile">Профиль</a></li>
                        <li><a href="" @click="toLogout">Выход</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</nav>
</template>


<script>
  import Vuex from 'vuex'

  export default {
    name: 'navbar',
    data() {
      return {
        isHideMenu: true,
      }
    },
    computed: {
      ...Vuex.mapGetters({
        isAuthenticated: 'auth/isAuthenticated',
        user: 'auth/user',
        currentPageHeader: 'app/currentPageHeader',
        host: 'app/apiUrl',
      }),
      profileLink() {
        if (this.user.profileImg && this.user.profileImg.link) {
          return "https://" + this.user.profileImg.link
        }
        return "https://www.kindpng.com/picc/m/21-214439_free-high-quality-person-icon-default-profile-picture.png"
      },
    },
    methods: {
      toLogout() {
        this.isHideMenu = !this.isHideMenu
        this.$router.push('/logout')
      },
      toProfile() {
        this.$router.push('/profile')
        this.isHideMenu = true
      },
      toUsers() {
        this.$router.push('/users')
        this.isHideMenu = true
      },
    }
  }
</script>

<style scoped>
  .avatarImg{
    width:40px; 
    height:40px;
    position:relative; 
    float:left; 
    border-radius: 50%;
    margin-right: 3px;
  }
</style>