<template>
  <section>
    <div class="uk-width-1-2 uk-margin-top">
      <fieldset class="uk-fieldset">
        <div class="uk-inline">
          <input
            class="uk-input"
            type="text"
            v-model="search"
            placeholder="Поиск"
            @keyup="find"
          />
        </div>
        <div class="uk-inline">
          <i class="fa fa-plus fa-fw" @click="addUser"></i>
        </div>
      </fieldset>
    </div>
    <table class="uk-table uk-table-hover uk-table-divider">
      <thead>
        <tr>
          <th>Имя</th>
          <th>Email</th>
          <th>Статус</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody v-for="model in users" :key="model.id">
        <tr v-if="model.id != edit.id">
          <td>{{ model.username }}</td>
          <td>{{ model.email }}</td>
          <td>
            <span :class="statusclass(model)">{{ model.status.name }}</span>
          </td>
          <td>
            <i
              class="fa fa-pencil fa-fw"
              @click="edit = Object.assign({}, model)"
            ></i>
          </td>
          <td v-if="model.status.id != 30">
            <i class="fa fa-ban fa-fw" @click="ban(model)"></i>
          </td>
          <td v-if="model.status.id == 30">
            <i class="fa fa-recycle fa-fw" @click="restore(model)"></i>
          </td>
        </tr>
        <tr v-if="model.id == edit.id">
          <td>
            <input class="uk-input" type="text" v-model="edit.username" />
          </td>
          <td>{{ model.email }}</td>
          <td>
            <span :class="statusclass(model)">{{ model.status.name }}</span>
          </td>
          <td>
            <i class="fa fa-check fa-fw" @click="update()"></i>
            <i class="fa fa-ban fa-fw" @click="edit = {}"></i>
          </td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </section>
</template>

<script>
import Vuex from "vuex";

export default {
  name: "users",
  data() {
    return {
      search: "",
      edit: {},
      page: 1,
    };
  },
  computed: {
    ...Vuex.mapGetters({
      errorDetail: "app/errorDetail",
      userStatuses: "users/statuses",
      users: "users/data",
      dealers: "dealers/datalist",
      pagination: "users/pagination",
    }),
  },
  methods: {
    ...Vuex.mapActions({
      getUsers: "users/find",
      delete: "users/delete",
      restoreUser: "users/restore",
      updateUser: "users/update",
      createUser: "users/create",
    }),
    ...Vuex.mapMutations({
      setError: "app/setError",
      setHeader: "app/setCurrentPageHeader",
    }),
    setPage(i) {
      this.page = i;
    },
    statusclass(model) {
      var css = "uk-label";
      if (model.status.id == 10) {
        css += " uk-label-warning";
      }
      if (model.status.id == 20) {
        css += " uk-label-success";
      }
      if (model.status.id == 30) {
        css += " uk-label-danger";
      }

      return css;
    },
    toChange(model) {
      this.edit = Object.assign({}, model);
    },
    find() {
      this.getUsers({ query: this.search, page: this.page });
    },
    update() {
      this.setError(null);
      this.updateUser(this.edit).then(() => {
        this.edit = {};
      });
    },
    ban(model) {
      this.delete(model)
        .then(() => {
          this.find();
        })
        .catch((e) => {
          this.setError(e);
        });
    },
    restore(model) {
      this.restoreUser(model)
        .then(() => {
          this.find();
        })
        .catch((e) => {
          this.setError(e);
        });
    },
    addUser() {
      this.createUser({ email: this.search })
        .then(() => {
          this.search = "";
          this.find();
        })
        .catch((e) => {
          this.setError(e);
        });
    },
  },
  created() {
    this.setHeader("Список пользователей");
    this.find({});
  },
};
</script>
