<template>
  <div class="uk-width-1-2 uk-margin-auto uk-margin-top">
        <label 
          class="fl"
          for="prfimg">
          <img 
            :src="profileLink" 
            width="1000000000"
            class="uk-img"
          > 
            <input 
                type="file" 
                placeholder="Загрузить"
                ref="file"
                id = "prfimg"
                @change="upload"
            >
        </label>

        <fieldset class="uk-fieldset">
            <div class="uk-margin">
              <input class="uk-input" require type="password" v-model="password" placeholder="Пароль" @keypress.enter.prevent="changePassword">
            </div>
            <div class="uk-margin">
              <input class="uk-input" require type="password" v-model="confirm" placeholder="Подтверждение" @keypress.enter.prevent="changePassword">
            </div>

        </fieldset>
        <button class="uk-button uk-button-primary" @click="changePassword">Сменить</button>

        
    </div>
</template>

<script>
  import Vuex from 'vuex'
  export default {
    name: 'chPass',
    data () {
      return {
        password: null,
        confirm: null,
      }
    },
    computed: {
      ...Vuex.mapGetters({
        apiUrl: 'app/apiUrl',
        user: 'auth/user'
      }),
      profileLink() {
        if (this.user.profileImg && this.user.profileImg.link) {
          return "https://" + this.user.profileImg.link
        }

        return "https://www.kindpng.com/picc/m/21-214439_free-high-quality-person-icon-default-profile-picture.png"
      }
    },
    methods: {
      ...Vuex.mapMutations({
        setMessage: 'app/setMessage',
        setError: 'app/setError',
        setHeader:'app/setCurrentPageHeader'
      }),
      ...Vuex.mapActions({
        change: 'auth/changePassword',
        uploadImg: 'users/upload'
      }),
      changePassword() {
        this.change({"password": this.password, "confirm": this.confirm})
          .then(() => {
            this.password = null
            this.confirm = null
          })
      },
      upload() {
        var formData = new FormData()
        formData.append('file', this.$refs["file"].files[0])
        this.uploadImg(formData)
        .then(() => {
          this.setError()
        }).catch((err)=>{
            this.setError(err.response.data.message)
        })
      },
    },
    created() {
      this.setHeader('Профиль')
    }
  }
</script>

<style scoped>
    label.fl {
        display: block;
        cursor: pointer;
        margin-bottom: 10px;
    }

    label.fl::before {
        display: inline-block;
        padding-right: 5px;
        vertical-align: top;
        content: url(/img/camera.png);
    }

    label [type=file] {
        display: none;
    }
</style>>