<template>
    <div class="uk-width-1-2 uk-margin-auto uk-margin-xlarge-top"> 
        <fieldset class="uk-fieldset ">

            <legend class="uk-legend">Активация пароля</legend>

            <div class="uk-margin">
              <input class="uk-input" require type="password" v-model="password" placeholder="Пароль" @keypress.enter.prevent="restore">
            </div>
            <div class="uk-margin">
              <input class="uk-input" require type="password" v-model="confirm" placeholder="Подтверждение" @keypress.enter.prevent="restore">
            </div>

        </fieldset>
        <button class="uk-button uk-button-primary" @click="activatePass">Отправить</button>
    </div>
</template>
<script>
  import Vuex from 'vuex'

  export default {
    data() {
      return {
        key: null,
        password: null,
        confirm: null,
      }
    },
    computed: {
      ...Vuex.mapGetters({
        apiUrl: 'app/apiUrl'
      }),
    },
    methods: {
      ...Vuex.mapMutations({
        setMessage: 'app/setMessage',
        setError: 'app/setError'
      }),
      ...Vuex.mapActions({
        activate: 'auth/activate',
      }),
      check() {
        this.key = this.$route.params.id
      },
      activatePass() {
        this.$store.commit('app/setError')
        this.activate({key: this.key, password: this.password, confirm: this.confirm})
        .then(() => {
            this.$router.push('/login')
          })
          .catch((err)=>{
            this.setError(err.response.data.message)
          })
      }
    },
    created() {
      this.check()
    }
  }
</script>
