<template>
    <div class="uk-width-1-2 uk-margin-auto uk-margin-xlarge-top"> 
        <fieldset class="uk-fieldset ">

            <legend class="uk-legend">Авторизация</legend>

            <div class="uk-margin">
              <input class="uk-input" type="text" v-model="login" placeholder="Введите логин" @keypress.enter.prevent="auth">
            </div>
            <div class="uk-margin">
              <input class="uk-input" type="password" v-model="password" placeholder="Введите пароль" @keypress.enter.prevent="auth">
            </div>

        </fieldset>
        <a class="uk-link-text" href="/restore">Забыли пароль?</a>
        <a class="uk-link-text uk-margin-left" href="/registration">Регистрация</a>
        <br><br>
        <button class="uk-button uk-button-primary" @click="auth">Войти</button>
    </div>
  
</template>

<script>
  import Vuex from 'vuex'
  export default {
    name: 'login',
    data () {
      return {
        login: '',
        password: '',
      }
    },
    methods: {
      ...Vuex.mapActions({
        logIn: 'auth/auth',
      }),
      auth() {
        const { login, password } = this
        this.logIn({login, password}).then(() => {
          this.$router.push('/')
        })
      }
    }
  }
</script>
