<template>
    <div class="uk-width-1-2 uk-margin-auto uk-margin-xlarge-top"> 
        <fieldset class="uk-fieldset ">
            <legend class="uk-legend">Регистрация</legend>

            <div class="uk-margin">
              <input class="uk-input" type="text" v-model="email" placeholder="Введите email" @keypress.enter.prevent="registration">
            </div>

        </fieldset>
        <a class="uk-link-text" href="/login">Авторизация</a><br><br>
        <button class="uk-button uk-button-primary" @click="registration">Зарегистрироваться</button>
    </div>
</template>
<script>
  import Vuex from 'vuex'

  export default {

    data() {
      return {
        email: null,
        can: false,
        show: false,
      }
    },
    computed: {
      ...Vuex.mapGetters({
        apiUrl: 'app/apiUrl',
        errorDetail: 'app/errorDetail'
      }),
    },
    methods: {
      ...Vuex.mapMutations({
        setMessage: 'app/setMessage',
        setError: 'app/setError',
      }),
      ...Vuex.mapActions({
        registry: 'auth/registry',
      }),
      registration() {
        this.registry({email: this.email})
        .catch(() => {
          if (this.errorDetail && this.errorDetail.length > 0) {
            this.setError(this.errorDetail[0].id + " " + this.errorDetail[0].message)
          }
        })
      },
    }
  }
</script>
