<template>
    <div class="uk-width-1-2 uk-margin-auto uk-margin-xlarge-top"> 
        <div class="uk-card uk-card-body uk-card-default" v-if="isSend">
          <h3 class="uk-card-title">Проверьте вашу почту</h3>
          <button  class="uk-button uk-button-primary" @click="inAuth">OK</button>
        </div>
        
        <fieldset v-if="!isSend" class="uk-fieldset ">

            <legend class="uk-legend">Восстановление пароля</legend>

            <div class="uk-margin">
              <input class="uk-input" require type="text" v-model="email" placeholder="Введите логин" @keypress.enter.prevent="restore">
            </div>

        </fieldset>
        <button  v-if="!isSend" class="uk-button uk-button-primary" @click="restore">Отправить</button>
    </div>
</template>
<script>
  import Vuex from 'vuex'

  export default {
    data() {
      return {
        email: null,
        isSend: false,
      }
    },
    computed: {
      ...Vuex.mapGetters({
        apiUrl: 'app/apiUrl'
      }),
    },
    methods: {
      ...Vuex.mapMutations({
        setMessage: 'app/setMessage',
        setError: 'app/setError',
      }),
      ...Vuex.mapActions({
        request: 'auth/requestpassword',
      }),
      inAuth() {
        this.$router.push("/")
      },
      restore() {
        this.setError(null)
        this.request({email: this.email})
          .then(() => {
            this.isSend = true
          })
          .catch((err) => {
            this.setError(err.response.data.message)
          })
      }
    }
  }
</script>
