<template>
    <section>
        <div class="uk-alert-danger uk-alert uk-width-1-1 "  v-if="error != null">
            <a  class="uk-alert-close uk-close" @click="errorNull" >X</a>
            {{error}}
        </div>
        <div class="uk-alert-success uk-alert uk-width-1-1"  v-if="message != null">
            <a  class="uk-alert-close uk-close" @click="messageNull">X</a>
            {{message}}
        </div>
    </section>
</template>
<script>
import Vuex from 'vuex'

export default {
    data() {
        return {
            email: null,
        }
    },
    computed: {
      ...Vuex.mapGetters({
        apiUrl: 'app/apiUrl',
        message: 'app/message',
        error: 'app/error',
      }),
    },
    methods: {
        messageNull(){
            this.$store.commit('app/setMessage', null)
        },
        errorNull(){
          this.$store.commit('app/setError', null)
        }
    }
}
</script>
