<template>
    <div class="uk-width-1-2 uk-margin-auto uk-margin-xlarge-top"> 
        <div class="uk-card uk-card-body uk-card-default">
          <h3 class="uk-card-title"> вашу почту</h3>
          <button  class="uk-button uk-button-primary" >OK</button>
        </div>

    </div>
</template>
<script>
  import Vuex from 'vuex'

  export default {
    data() {
      return {
      }
    },
    computed: {
      ...Vuex.mapGetters({
        apiUrl: 'app/apiUrl'
      }),
    },
    methods: {
      ...Vuex.mapMutations({
        setMessage: 'app/setMessage',
        setError: 'app/setError',
        setCurrentPageHeader: 'app/setCurrentPageHeader'
      }),
      ...Vuex.mapActions({
        request: 'auth/requestpassword',
      }),
    },
    created(){
        this.setCurrentPageHeader('Дашборда')
    }
  }
</script>
