<template>
  <section >
    <navbar v-if="showNavbar"/>
    <errormessage class="absolutealert uk-margin-top uk-width-1-2"></errormessage>
    <div class="uk-container">
      <router-view/>
    </div>
  </section>
</template>

<script>
  import Navbar from './components/admin/navbar'
  import Vuex from 'vuex'
  import errormessage from "./components/errormessage";


  export default {
    name: 'app',
    data () {
      return {
        name: 'app',
      }
    },
    components: {
      Navbar,
      errormessage
    },
    computed: {
      ...Vuex.mapGetters({
        isAuthenticated: 'auth/isAuthenticated',
        user: 'auth/user',
      }),
      showNavbar(){
        if (this.isAuthenticated && this.user.email){
          return true
        }
        return false
      }
    },
    methods: {
      check () {
        this.$store.dispatch('auth/check')
      }
    },
    created () {
      this.$store.dispatch('app/setDictionary')
    }
  }
</script>

<style>
  .absolutealert{
    position: absolute;
    z-index: 1000;
    margin-left: 25%;
  }
</style>

